<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script th:src="'/static/js/common/jquery-1.8.3.js'" th:type="'text/javascript'"></script>
<body>
    <p th:text="'this is a info'"></p>
    <div>
        <span th:text="Id"></span>
        <span th:text="${msg}"></span>
        <span th:text="name"></span>
        <span th:text="Id"></span>
        <span th:text="money"></span>
        <span th:text="Id"></span>
        <span th:text="manager"></span>
        <span th:text="Id"></span>
    </div>
</body>
<script>

</script>
</html>